
/* Reset */
@import url('reset.css');
@import url('fonts/stylesheet.css');
/* Oxymoron CSS framework*/
@import url('oxymoron.css');

body {
    font-family: Liberation Serif, LiberationSerifRegular, serif;
    width: 680px;
}


h1 {
    font-size: 500%;
}

h2 {
    font-size: 200%;
    font-weight: bold;
    font-family: Liberation Serif Bold, LiberationSerifBold, serif;
    margin: 40px 0 15px 0;
}

h4 {
    font-size: 150%;
    margin: 40px auto 20px auto;
}

a {
    text-decoration: none;
    color: #4083A9
}

p {
    line-height: 150%;
    margin: 20px auto auto auto;
}

em {
    font-style: italic
}

h1,
blockquote {
    margin-top: 50px;
    margin-left: 50px;
}

h3 {
    margin: 20px 0 0 0;
}

dl a {
    color: black;
    text-decoration: none;
}

dl a:hover {
    color: #333
}

dd {
    margin-left: 15px;
}

dd,
dt {
    font-style: italic;
}

small {
    font-size: 80%;
}

dt {
    font-weight: bold;
    margin: 10px 0 0 0;
}

blockquote:after {
    display: block;
    content: url('/images/finger.png');
    height: 49px;
    margin-top: -29px;

}

blockquote p {
    padding-left: 100px;
}

img {
    float: left;
    margin: 10px 10px 50px 10px;
    max-width: 400px;
}

sup {
    font-size: 80%;
    vertical-align: super;
    margin-right: 4px;
}

h1 sup {
    font-size: 40%;
}

ol {
    list-style-type: decimal;
}

li {
    padding: 2px;
}

ul li:before {
    content: "\00BB \0020";
}

nav#formats * {
    display: inline;
}

nav#formats li:before {
    content:""
}
