*swp
_site
vendor
.bundle
_config.yml

# cierto plugin genera su salida acá
tmp/

# los articulos vienen de articulos.git
_posts/*.markdown

# maldito mergetool
*.orig

# xelatex
*.aux
*.log
*.out
*.toc
# tapas
*.tif
*.pdf
