assets/css/
assets/fonts/
assets/js/
node_modules/
_bin/
_en/
_es/
_plugins/
_site/
public/
vendor/
package.json
pnpm-lock.yaml
robots.txt
.editorconfig
.gitattributes
.gitignore
.jekyll-cache/
.prettierignore
.env*
Gemfile*
_includes/*.scss
_includes/svg/*.svg
