<!DOCTYPE html>
<html lang="es">
    <head>
    <meta charset="utf-8" />
        <title>{{ page.title }}</title>
        <link rel="shortcut icon" type="image/png" href="favicon.png" />

		<link type='text/css' rel="stylesheet" href="css/screen.css" media="screen, projection" charset="utf-8" />
		<link type='text/css' rel="stylesheet" href="css/print.css" media="print" charset="utf-8" />
        <link rel="alternate" type="application/atom+xml" title="En Defensa del Software Libre" href="/atom.xml">
	</head>
    <body>
        <div class="oxymoron">

        {{ content }}
        
        </div>
    </body>
</html>
