<!DOCTYPE html>
<html lang="es" prefix="og: http://ogp.me">
  <head>
  <meta charset="utf-8" />
    <title>{{ page.title }}</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:url" content="http://endefensadelsl.org{{ page.url }}"/>
    <meta property="og:locale" content="es_AR"/>
    <meta property="og:site_name" content="En Defensa del Software Libre"/>
    <meta property="og:type" content="article"/>
    <meta property="og:article:published_time" content="{{ page.date }}"/>
    <meta property="og:article:author" content="{{ page.author }}"/>
    {% if page.cover %}
    <meta property="og:image" content="http://endefensadelsl.org/{{ page.cover }}"/>
    {% else %}
    <meta property="og:image" content="http://endefensadelsl.org/images/edsl.png"/>
    {% endif %}

    <link rel="shortcut icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Crimson+Text:400,400italic,700,700italic" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="http://furtive.co/site/index.furtive.min.css">
    <link rel="stylesheet" href="css/oxymoron.css">
    <link rel="stylesheet" href="css/screen.css">

    <link rel="alternate" type="application/atom+xml" title="En Defensa del Software Libre" href="/atom.xml">
    <link rel="related" href="edsl.opds" type="application/atom+xml;profile=opds-catalog;kind=acquisition" title="Catálogo OPDS" />
	</head>
  <body>
    <div class="measure">
      {{ content }}
    </div>
  </body>
</html>
